extends layout

block content

	h5='E-Noticeboard | Login'
	hr
	form(action='/users/client_login',method='post')
		label='Username'
		input(type='email',name='username', class='form-control', placeholder='Enter registered email address')
		br
		label='Password'
		input(type='password',name='password',class='form-control',placeholder='Your password')
		br
		input(type='submit',class='btn btn-primary', value='Login')
		&nbsp;&nbsp;
		a(href='/users/register', class='btn btn-info')='New user?'
